* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
:root {

    --main-color: #fff;
    --text-color: #0c0c0c;
    --big-font: 4.6rem;
    --p-font: 1rem;
    --bg-color: #a40cc9;
    --color: #eacb05;
}

header {
    display: flex;
    align-items: center;
    width: 100%;

}

a {
    text-decoration: none;
    color: var(--text-color);
}
a:hover{
    color: var(--bg-color);
}

.nav {
    display: inline;
    border-left: 1px solid black;
    padding: 2em;
    height: 5em;
}

.login {
    background-color: var(--bg-color);
    color: var(--color);
    padding: 1em;
    border: none;
    margin-left: 23em;
    font-weight: 700;
}

.img{
  width: 100%;
}
.cards{
display: flex;
justify-content: space-evenly;
border: ipx solid black;
text-align: center;
}
.card{
    height: 10em;
    width: 100%;
}
h1{
    color: var(--bg-color);
    padding-top: 20px;
}
p{
    padding-top: 20px;
}
.footer{
    display: flex;
    justify-content: space-between
}
.f{
    width: 100%;
    border-left: 1px solid black;
    background-color: var(--bg-color);
    font-weight: 900;

}